.schedule-div{
    background-color: rgb(52, 51, 51);
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule-button{
    padding: 10px 20px;
    background-color: green;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
}

.schedule-button:hover{
    background-color: darkgreen;
    cursor: pointer;
}


.matches-list{
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
}

.matches-list li{
    list-style-type: none;
    margin-bottom: 10px;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.matches-list a{
    color: black;
    text-decoration: none;
}

.matches-list li:hover{
    background-color: aqua;
    color: whitesmoke;
    cursor: pointer;
}


